.pagination {
    position: fixed;
    right: rem(20);
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);

    @include laptop {
        display: none;
    }
}    

.pagination__list {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border-color: #fff;
}

.pagination__list_white {
    border-color: #fff;
}

.pagination__list_black {
    border-color: #000;
}

.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-color: inherit;
}
    
.pagination__link {
    padding: 6px;
    border-radius: 50%;
    border: 1px solid transparent;
    //border-color: inherit;

    &:hover {
        border-radius: 50%;
        border: 1px solid ;
        border-color: inherit;
        transition: all 0.3s;
    }
}

.pagination__dot-filled {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid ;
    border-radius: 50%;
    display: block;
}

.pagination__dot-filled_white {
    border-color: #fff;
}

.pagination__dot-filled_black {
    border-color: #000;
}

.active-section {
    border-radius: 50%;
    border: 1px solid ;
    border-color: inherit;
    pointer-events: none;
}