.section-comments {
    background-color: #fff;
    background-size: cover;
    color: #000;
    
    
    
    &::after {
        content: url(../img/rew_rasp-left-comb.png);
        display: block;
        position: absolute;
        left: 0;
        bottom: -18%;
        z-index: 2;
    }

    &::before {
        content: url(../img/rew_strawberry.png);
        display: block;
        position: absolute;
        right: 5%;
        top: 5%;
        z-index: 2;
    }

}

.container-comments {
    flex-direction: column;
    justify-content: space-around;

    .title__text {
        text-align: center;
        font-size: 48px;
        font-family: 'alegreya_sansbold', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .comments-full {
        background: url(../img/comments_bg.png) no-repeat center center;
        background-size: cover;
        padding: 52px 0 35px 46px;

        .comments-full__list {
            display: flex;
            flex-direction: row;

            .comments-full__item {
                display: flex;
                flex-direction: row;
                display: none;

                .comments-full__comments-image {
                    width: 30%;
        
                    .comments-image__pic {
                        max-width: 100%;
                    }
                }
        
                .comments-full__comments-text {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    padding-left: 10px;
        
                    .comments-text__title {
                        font-size: 29.96px;
                        font-family: 'alegreya_sans_mediumregular', Arial, Helvetica, sans-serif;
                        font-weight: normal;
                    }
        
                    .comments-text__text {
                        font-size: 17.98px;
                        color: #666666;
                    }
        
                    .comments-text__name {
                        font-size: 17.98px;
                        font-family: 'alegreya_sans_mediumregular', Arial, Helvetica, sans-serif;
                        color: #666666;
                        padding-bottom: 26px;
                    }
                }

            }

            .comment-is-active {
                display: flex;
            }
        }
        
    }

    .peoples__list {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        

        .peoples__item {
            align-self: center;

            .peoples__image {
                width: 70px;
                height: 70px;
                box-sizing: content-box;
                overflow: hidden;
                border: 3px solid transparent;
                border-radius: 50%;
               
                .peoples__pic {
                    max-width: 100%;
                    object-fit: fill;
                }
                
            }
            
            .peoples-is-active {
                border: 6px solid #0f5947 !important; //костыль
                border-radius: 50%;
                width: 77px;
                height: 77px;
            }
        }

       
    }
}