.section-map {
    //background: url(../img/map.png) no-repeat center center;
    background-color: #cfddda;
    background-size: cover;
    position: relative;
    flex-direction: column;
}

.container-map {
    height: 100%;

}

.map {
    width: 100%;
    height: 100%;
}

