.pagination {
    position: fixed;
    right: 5%;
    top: 15%;
    

    .pagination__list {
        display: flex;   
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pagination__item {
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .pagination__link {
                text-indent: -9999px;
                max-width: 6px;
                max-height: 6px;
                border-radius: 50%;
                border: 3px solid #fff;
            }

        }

        .pagination-is-active {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            
        }

        .active-section {
            border: 1px solid #fff;
        }

    }
   
}