
.section-why-chocco {
    background-color: #fff;
    background-size: cover;
    color: #000;
    overflow: visible;
    
    &::before {
        content: url(../img/whychocco-leaf.png);
        display: block;
        position: absolute;
        left: 0;
        bottom: 25%;
        z-index: 2;

        @include laptop {
            bottom: 50%;
        }

        @include tablets {
            content: "";
        }
    }

    &::after {
        content: url(../img/whychocco-raspberry.png);
        display: block;
        position: absolute;
        left: 0;
        bottom: -10%;
        z-index: 2;

        @include tablets {
            content: "";
        }
    }

}

.container-why-chocco {
    flex-direction: column;
    justify-content: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include laptop {
        margin-bottom: 20px;
    }

}
       

.main-text__title {
    max-width: 50%;
}

.title__text {
    text-align: center;
    font-size: 48px;
    padding-bottom: 28px;
    font-family: 'alegreya_sansbold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;


}

            
.main-text__subtitle {
    max-width: 50%;

    @include laptop {
        max-width: 70%;
    }
}

.subtitle__text {
    text-align: center;
    font-size: 18px;
    color: #707070;
}

.information__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include laptop {
        flex-direction: column;
    }
}

.information__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 30%;

    @include laptop {
        width: 80%;
        margin-bottom: 20px;
    }

    @include tablets {
        flex-direction: row;
        width: 95%;
        margin-bottom: 30px;
    }

    &::after {
        content: url(../img/dots.png);
        display: block;
        position: absolute;
        top: 17%;
        right: -20%;

        @include laptop {
            content: "";
        }
    }
   
    &:last-child::after {
        content: "";
    }
    
}

.why-chocco-image {
    background-color: #f2f5f4;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

    @include laptop {
        margin-bottom: 15px;
    }

    @include tablets {
        //width: 30%;
        margin-bottom: 0;
    }

}

.why-chocco-image__pic {
    max-width: 50%;
    max-height: 50%;
}

.why-chocco-description {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
        align-items: flex-start;
        width: 60%;
    }
}

.why-chocco-description__title {
    font-size: 27px;
    margin-bottom: 30px;
    font-family: 'alegreya_sansbold', Arial, Helvetica, sans-serif;

    @include laptop {
        margin-bottom: 15px;
    }

}

.why-chocco-description__subtitle {
    font-size: 18px;
    color: #707070;
    text-align: center;

    @include tablets {
        text-align: left;
    }
}

